
.section_demo {
   padding: 3rem 0;
   border-bottom: solid 1.8px #9fa1b9;
   background-color: #c6c5db;
}

.card_demo {
   padding: 0.6rem 1rem;
   border-bottom: solid 1px #ccc;
   color: #ccc;
   background-color: #38329b;
}

.card_info {
   display: flex;
   justify-content: center;
   margin-bottom: 1rem;
   padding: 1rem 0;
}

.card_info h2 {
   font-size: 1.8rem;
   color: #3b3651;
   font-weight: 600;
}

.code {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 6px;   
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   margin-bottom: 0.6rem;
   padding: 0.6rem;
   background-color: #1F2330;
}

.code h2 {
   color: #9fa1b9;
   margin-bottom: 0.8rem;
}

.code img {
   max-width: 100%;
   border-radius: 6px; 
}

.code_info__class {
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 0.8rem 1.5rem;
   border-radius: 6px;
   background-color: #f5f6fa;
}

.code_info__class > strong {
   align-self: center;
   font-size: 1.2rem;
   color: #010311;
   font-weight: 500;
   padding-bottom: 0.2rem;
   margin-bottom: 0.4rem;
   border-bottom: 1.5px solid #b0adb5;
}

.code_info__class > p {
   font-size: 1rem;
   color: #0b0d1d;
   font-weight: 500;
}
.code_info__class > p span {
   font-size: 1rem;
   color: #850d3d;
   font-weight: 500;
   font-style: italic;
}

.code_info_list {
   display: flex;
   flex-direction: column;
   margin: 0.5rem;
}

.code_info_list div strong {
   margin-right: 0.5rem;
}

.code_info__sizes {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.code_info__sizes span {
   display: flex;
   flex-direction: column;
   font-size: 1rem;
   color: #3c3958;
   font-weight: 500;
   font-style: italic;
}